[Unit]
Description=Xray-core REALITY Service
Documentation=https://github.com/XTLS/Xray-core
After=network.target

[Service]
Type=simple
Environment=XRAY_LOCATION_ASSET=/usr/local/etc/xray
ExecStart=/usr/local/bin/xray run -config /usr/local/etc/xray/config.json
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
